<h1 class="my-3 font-fira text-3xl">Log de ações</h1>

<div
  class="container p-4 border border-gray-800 w-auto h-60 overflow-y-scroll rounded-lg shadow-gray-700 shadow-sm  bg-git-gray-700">
  <ul class="font-carrois-gothic">
    <li class="m-2">questbarman venceu o torneio Europeu!!</li>
    <li class="m-2">O card "Desilusões do amor" foi obtido por questbarman.</li>
    <li class="m-2">questbarman foi aprovado pelo clã "Lobos do inferno"</li>
    <li class="m-2">questbarman acaba de atingir o nível 60!</li>
    <li class="m-2">questbarman acaba de atingir o nível 50!</li>
    <li class="m-2">questbarman acaba de atingir o nível 40!</li>
    <li class="m-2">questbarman acaba de atingir o nível 30!</li>
    <li class="m-2">questbarman acaba de atingir o nível 20!</li>
  </ul>
</div>
