<main class="relative flex justify-center mt-44">

  <div
    class="bg-gradient-to-bl from-gray-login-area-500 to-gray-login-area-900 h-2/5 w-2/5 my-auto border border-gray-700 rounded-lg p-2">
    <div class="flex flex-col gap-5">
      <div class="text-center mb-2">
        <h3 class="text-3xl text-gray-400">Cadastro de associado</h3>
      </div>
      <form [formGroup]="registryForm">
        <div class="grid grid-cols-2 gap-8">
          <div class="text-center">
            <input formControlName="name"
              class="disabled:bg-git-gray-700 bg-gradient-to-t from-slate-900 to-git-gray-700 h-12 focus:border-b-gray-400 focus:outline-none focus:border-b-2 rounded-lg text-left p-3  text-gray-400 shadow-sm shadow-gray-600 w-5/6"
              placeholder="Nome do associado">
          </div>
          <div class="text-center">
            <input formControlName="nickName"
              class="disabled:bg-git-gray-700 bg-gradient-to-t from-slate-900 to-git-gray-700 h-12 focus:border-b-gray-400 focus:outline-none focus:border-b-2 rounded-lg text-left p-3  text-gray-400 shadow-sm shadow-gray-600 w-5/6"
              placeholder="Podemos chamá-lo como?">
          </div>
          <div class="text-center">
            <input formControlName="email"
              class="disabled:bg-git-gray-700 bg-gradient-to-t from-slate-900 to-git-gray-700 h-12 focus:border-b-gray-400 focus:outline-none focus:border-b-2 rounded-lg text-left p-3  text-gray-400 shadow-sm shadow-gray-600 w-5/6"
              placeholder="Seu email" type="email">
          </div>
          <div class="text-center">
            <input formControlName="password"
              class="disabled:bg-git-gray-700 bg-gradient-to-t from-slate-900 to-git-gray-700 h-12 focus:border-b-gray-400 focus:outline-none focus:border-b-2 rounded-lg text-left p-3  text-gray-400 shadow-sm shadow-gray-600 w-5/6"
              placeholder="Senha desejada" type="password">
          </div>

          <div class="text-center col-span-2 mt-8">
            <button
              class="text-gray-100 text-md rounded-md bg-gradient-to-tr from-blue-900 to-blue-300 w-11/12 shadow-sm shadow-blue-600 pt-2 pb-2 align-middle"
              (click)="submitForm()">Cadastrar</button>
          </div>
        </div>
      </form>



    </div>
  </div>
</main>
