<div
  class="container px-7 py-1 h-80 w-3/4 overflow-y-scroll border border-gray-800 rounded-lg shadow-gray-700 shadow-sm  bg-git-gray-700 mx-10">
  <h1 class="text-start font-fira text-3xl my-3">Descrição</h1>
  <p class="font-carrois-gothic">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique non sed veniam temporibus?
    Incidunt mollitia at voluptas fugit asperiores minus eos. Earum eveniet, libero nulla accusamus
    assumenda dicta culpa omnis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique non sed veniam temporibus?
    Incidunt mollitia at voluptas fugit asperiores minus eos. Earum eveniet, libero nulla accusamus
    assumenda dicta culpa omnis.
  </p>
</div>
