<main class="h-screen w-screen flex justify-center">

  <div class="bg-git-gray-700 h-2/3 w-2/5 my-auto border border-gray-700 rounded-lg p-2">
    <div class="flex flex-col gap-3">
      <div class="text-center">
        <h3>Login</h3>
      </div>
      <div class="flex flex-col">
        <label>Email:</label>
        <input
          class="disabled:bg-git-gray-700 bg-git-gray-700 focus:border-b-gray-400 focus:outline-none focus:border-b-2"
          placeholder="Inserir email">
      </div>
      <div class="flex flex-col">
        <label>Senha:</label>
        <input
          class="disabled:bg-git-gray-700 bg-git-gray-700 focus:border-b-gray-400 focus:outline-none focus:border-b-2"
          placeholder="Inserir senha">
      </div>
      <div class="text-start">
        <button
          class="text-gray-100 text-md rounded-md bg-gradient-to-tl from-purple-900 to-purple-600 w-full h-6 shadow-sm shadow-purple-600"
          type="submit">Entrar</button>
      </div>
      <div class="text-start">
        <h6>Ainda não é um associado?</h6>
      </div>

    </div>
  </div>
</main>
