<main class="h-screen w-screen flex justify-center">
  <div
    class="bg-gradient-to-bl from-gray-login-area-500 to-gray-login-area-900 h-2/4 w-1/5 my-auto border border-gray-700 rounded-lg p-2">
    <div class="flex flex-col gap-6">
      <div class="text-center">
        <h3 class="text-3xl text-gray-400">Login</h3>
      </div>
      <form [formGroup]="applyForm">
        <div class="flex flex-col">
          <input
            class="disabled:bg-git-gray-700 bg-gradient-to-t from-slate-900 to-git-gray-700 h-12 focus:border-b-gray-400 focus:outline-none focus:border-b-2 rounded-lg text-left p-3  text-gray-400 shadow-sm shadow-gray-600"
            placeholder="Inserir email" formControlName="email">
        </div>
        <div class="flex flex-col mt-3">
          <input
            class="disabled:bg-git-gray-700 bg-gradient-to-t from-slate-900 to-git-gray-700 h-12 focus:border-b-gray-400 focus:outline-none focus:border-b-2 rounded-lg text-left p-3  text-gray-400 shadow-sm shadow-gray-600"
            placeholder="Inserir senha" formControlName="password">
        </div>
      </form>
      <div class="text-start">
        <button
          class="text-gray-100 text-md rounded-md bg-gradient-to-tr from-purple-900 to-purple-300 w-full shadow-sm shadow-purple-600 pt-2 pb-2"
          (click)="submitForm()">Entrar</button>
      </div>
      <div class="text-start">
        <h6 class="text-gray-400">Esqueceu a senha?</h6>
      </div>
      <hr class="border-gray-700 mt-2 mb-2">
      <div class="flex flex-col gap-5">
        <div class="text-start">
          <h6 class="text-xl text-gray-400">Ainda não é um associado?</h6>
        </div>
        <div class="text-start">
          <button [routerLink]="['/register']"
            class="text-gray-100 text-md rounded-md bg-gradient-to-tr from-blue-900 to-blue-300 w-full shadow-sm shadow-blue-600 pt-2 pb-2"
            type="submit">Cadastrar</button>
        </div>
      </div>

    </div>
    <div *ngIf="loading" class="absolute inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
      <app-loading></app-loading>
    </div>
  </div>
</main>
<div class="p-5">
  <app-toast></app-toast>
</div>
