<main class="text-gray-200 leading-5">
  <div>
    <h1 class="text-center text-5xl font-montserrat text-gray-200 my-5">Perfil de associado</h1>
  </div>
  <div class="grid grid-cols-3">
    <div class="flex justify-evenly col-span-2">
      <app-associate-resume></app-associate-resume>
    </div>
    <div class="flex justify-start">
      <app-associate-description></app-associate-description>
    </div>
  </div>
  <hr class="my-10 border-gray-800">
  <div class="grid grid-cols-3 items-start my-5">
    <div class="flex flex-col justify-start col-span-1 mx-24">
      <app-associate-action-logs></app-associate-action-logs>
    </div>
    <div class="col-span-1 flex flex-col">
      <app-associate-matches-history></app-associate-matches-history>
    </div>
    <div class="col-span-1 flex flex-col">
      <app-associate-condecorations></app-associate-condecorations>
    </div>
  </div>

</main>
